<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <img src="" alt="" class="header_logo">
            <h1>TenoJuli</h1>
            <div class="botones_nav">
            <button>Cerrar</button>
            </div>
        </nav>
    </header>
    <h1>Bienvenido a compras de tecnologias</h1>
    <div class="container_mother">
        <h1>Elige entre nuestros productos</h1>
        <div class="container_card">
            <div class="card">
                <img src="" alt="" class="imgcard">
                <h1>Nombre Producto</h1>
                <h2>Precio</h2>
                <p>descripcion</p>
                <button class="boton_carrito"><img src="" alt=""></button>
            </div>
        </div>
    </div>
</body>
</html>